{% extends 'account/base.html'%}
{% block title %}
<title>Home</title>    
{%endblock%}
{% block rightcontainer %}
<div class="about-woc-container">
    <div class="about-woc">
        <p class="heading">About WoC</p>
        <p class="content">NITK Winter of Code is a contest conducted by WebClub so that students of nitk bacomes families with competitive prgramming and contest like Gsoc.
            Since its inception in 2005, the program has brought together over 17,000 student participants and over 35,000 mentors from 124 countries worldwide. Google Summer of Code has produced over 38 million lines of code for 715 open source organizations.</p>
    </div>
    <div class="about-mentor">
        <p class="heading">mentor</p>
        <p class="content">
            Existing contributors with the organizations can choose to mentor a student project. Mentors and students work together to determine appropriate milestones and requirements for the summer. Mentor interaction is a vital part of the program.
        </p>
    </div>
</div>
<div class="upcoming-event">
    <p class="heading">WoC-2020</p>
    <div class="verticle-line-container">
        <div class="verticle-line"></div>
        <svg class="first-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H0V9.039H12.052L6.545,14.545,8,16l8-8Z" fill="#033e4e"/>
        </svg>
        <svg class="second-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H0V9.039H12.052L6.545,14.545,8,16l8-8Z" fill="#033e4e"/>
        </svg>
        <svg class="third-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H0V9.039H12.052L6.545,14.545,8,16l8-8Z" fill="#033e4e"/>
        </svg>
        <svg class="fourth-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H0V9.039H12.052L6.545,14.545,8,16l8-8Z" fill="#033e4e"/>
        </svg>
        <svg class="fifth-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H0V9.039H12.052L6.545,14.545,8,16l8-8Z" fill="#033e4e"/>
        </svg>
        <svg class="sixth-svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 16 16">
            <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H0V9.039H12.052L6.545,14.545,8,16l8-8Z" fill="#033e4e"/>
        </svg>
        <div class="timeline-content one">
        <p class="heading">Projects announced</p>
        <p class="date">April 15,2020</p>
        </div> 
        <div class="timeline-content two">
            <p class="heading">Student application period</p>
            <p class="date">April 15-20,2020</p>
        </div>       
        <div class="timeline-content three">
            <p class="heading">Students selected</p>
            <p class="date">April 30, 2020</p>
        </div> 
        <div class="timeline-content four">
            <p class="heading">Projects work starts</p>
            <p class="date">May 1, 2020</p>
        </div> 
        <div class="timeline-content five">
            <p class="heading">Student evaluation period</p>
            <p class="date">June 1-3, 2020</p>
        </div> 
        <div class="timeline-content six">
            <p class="heading">Results announced</p>
            <p class="date">June 5, 2020</p>
        </div> 
    </div>
</div>
{% endblock %}