{% extends 'account/base.html'%}
{% block title %}
<title>Orgs</title>    
{%endblock%}
{% block rightcontainer %}
<div class="past-event" id="past-event">
    <p class="heading">Projects</p>
    <div class="past-event-container">
        <div class="past-event-div">
            <p class="heading" style="top: 0;">IET</p>
            <p class="content" style="top: 3rem;">The Institution of Engineering and Technology is a multidisciplinary professional engineering institution.</p>
        </div>
        <div class="past-event-div">
            <p class="heading" style="top: 0;">ACM</p>
            <p class="content" style="top: 3rem;">The Association for Computing Machinery is a US-based international learned society for computing. It was founded in 1947, and is the world's largest scientific and educational computing society</p>
        </div>                    
    </div>
    <div class="past-event-container">
        <div class="past-event-div">
            <p class="heading" style="top: 0;">ISTE</p>
            <p class="content" style="top: 3rem;">The Indian Society for Technical Education is a national, professional, non-profit Society registered under the Indian Societies Registration Act of 1860.</p>
        </div>
        <div class="past-event-div">
            <p class="heading" style="top: 0;">Web Club</p>
            <p class="content" style="top: 1rem;">group of motivated, passionate students who provide help, technical support, education(in form of talks, lectures, workshops, demonstrations, code showcases, etc.) to each other as well as to anyone else who is interested; other students, faculty and any denizen of National Institute of Technology Karanataka, Surathkal.</p>
        </div>                    
    </div>
</div>
{% endblock %}