{% extends 'account/base.html'%}
{% block title %}
<title>Projects</title>    
{%endblock%}
{% block rightcontainer %}
<div class="past-event" id="past-event">
    <p class="heading">Projects</p>
    <div class="past-event-container">
        <div class="past-event-div">
            <p class="heading">Web application for Faculty</p>
            <p class="content">Created a fast and progressive web app.</p>
            <a href="#">View Project</a>
        </div>
        <div class="past-event-div">
            <p class="heading">Distributed Systems</p>
            <p class="content">Build a basic distributed system with two mentor</p>
            <a href="#">View Project</a>
        </div>                    
    </div>
    <div class="past-event-container">
        <div class="past-event-div">
            <p class="heading">Deep Neural Networks</p>
            <p class="content">Implemented the neural network for the task.</p>
            <a href="#">View Project</a>
        </div>
        <div class="past-event-div">
            <p class="heading">Parallel computing</p>
            <p class="content">Implimented Parallel code for popular algorithms.</p>
            <a href="#">View Project</a>
        </div>                    
    </div>
    <div class="past-event-container">
        <div class="past-event-div">
            <p class="heading">NDN</p>
            <p class="content">Compare the performances of NDN and TCP IP.</p>
            <a href="#">View Project</a>
        </div>
        <div class="past-event-div">
            <p class="heading" style="padding: 0 1rem;">Shifting the recruitment portal to Django</p>
            <p class="content" >A Django app that can be used in future for recruitment.</p>
            <a href="#">View Project</a>
        </div>                    
    </div>
</div>
{% endblock %}